#fundo_site {
  position: relative;
  background: linear-gradient(180deg, #ffffff 0%, #017cc4 100%);
  background-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.text_justify {
  text-align: justify;
}

#cabecalho_page {
  color: #017cc4;
}

#margem_container {
  margin-top: 8em;
}

#container_carousel {
  margin-left: 5em;

}

#imagem_arredondada {
  border-radius: 20%;
}